.Player{
    margin:10px;
    background-color:white;
    border-radius: 100px;
    padding: .15rem 1rem;
    color:black;
    text-align: center;
    display:inline-flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height:auto;
}

.icon{
    margin: 0 2%;
    width:25px;
    height:25px;
}

@media screen and (min-width: 320px) {
    .Player {
        font-size: 0.5rem;
        width: 75%;
    }
    
}

@media screen and (min-width: 768px) {
    .Player {
        font-size: 0.65rem;
        width:22rem;
        padding: .15rem 1rem;
    }
    .icon{
        margin: 0 1%;
        width:35px;
        height:35px;
    }
  }
@media screen and (min-width: 1024px) {
    .Player {
    font-size: 0.8rem;
    width:25rem;
    padding: .15rem 1rem;
    }
    .icon{
        margin: 0 1%;
        width:45px;
        height:45px;
    }
}

