.GameBG{
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-evenly;
}
.GameContent{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.GameHeader{
    margin:10px;
    padding: 2px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FF8DC6;
    color:black;
    align-items: center;
    justify-content: space-evenly;
}
.GameTitle{
    margin: 10px;
    color:inherit;
}
.RoomID{
    margin: 10px;
    padding: 0 10px;
    background-color: #12CCB1;
    border-radius: 25px;
    color:inherit;
    display: inline-block;
}


@media screen and (min-width: 768px) {
    .GameHeader{
        margin:20px;
        margin-bottom: 10px;
        padding: 1%;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #FF8DC6;
        color:black;
        align-items: center;
        font-size: 1rem;
        justify-content: space-evenly;
    }
    .GameContent{
        width: 720px;
        height: 100%;
    }
    .GameTitle{
        margin: auto;
        color:inherit;
        padding:5px 30px;
    }
    .RoomID{
        margin: auto;
        padding: 5px 30px;
        background-color: #12CCB1;
        border-radius: 25px;
        color:inherit;
    }
  }
@media screen and (min-width: 1024px) {
    .GameContent{
        width: 720px;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .GameHeader{
        margin:20px;
        padding: 1%;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #FF8DC6;
        color:black;
        align-items: center;
        font-size: 2.5rem;
        justify-items: space-between;
    }
}

.Initial{
    width: 100%;
    height: 100%;
    color:white;
    font-size: 1rem;
}
.FakeAnswer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayDrawing{
    margin: auto;
    max-width: 600px;
    width:80vw;
    height:80vw;
    max-height: 600px;
    border: 5px solid black;
    border-radius: 2%;
    object-fit: cover;
    background-color: white;
}

.inputBox {
    border-radius: 25px;
    border: 2px solid #DFEE0C;
    padding: 20px; 
    width: 200px;
    height: 15px;
    background-color: transparent;  
    color: #DFEE0C;
}

.Waiting{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.Reveal{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    color:white;
}
.AnswerReveal{
    margin:0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 10px;
    background-color: #8B940C;
    padding:0.5rem;
}