.AllSettings{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: space-evenly;
    align-content: flex-start;
    padding-bottom: 50px;
    height:100%;
    overflow: hidden;
}
.numberInput{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: space-evenly;
    align-content: flex-start;
    overflow: hidden;
}
.arrayInput{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: space-evenly;
    align-content: flex-start;
    overflow: hidden;
}
.inputBox {
    border-radius: 25px;
    border: 2px solid black;
    margin: 5px; 
    padding: 10px;
    height: 15px;
    background-color: transparent;  
    color: white;
}