.Lobby{
    font-family: 'Raleway', sans-serif;
    background-color: #1d1d1d;;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0% 5%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
  }

  .LobbyTitle{
    font-size: 10vh;
    font-weight: 400;
  }
  .LobbyHeader{
    font-family: 'Abduction';
    font-weight: 400;
    color:rgb(223, 238, 12);
    font-size: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
    
  }
  .LobbyRoomID{
    margin:0;
    flex-direction: column;
  }
  .card{
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
  }
  